@border-grey: #E0E0E0;
.nav, .pagination, .carousel, .panel-title {
    a {
        cursor: pointer;
    }
}
.body-container {
    padding: 20px;
    height: 100%;
}
.modal-body {
    li {
        a {
            cursor: pointer;
        }
    }
}
.tab-body {
    padding: 20px;
}
.feature-list-container {
    height: 100%;
}
.feature-list-panel {
    height: 100%;
}
.feature-list {
    list-style-type: none;
}
html, body {
    height: 100%;
}
