a, .nav a, .pagination a, .carousel a, .panel-title a {
    cursor: pointer;
}
.body-container {
    padding: 20px;
    height: 100%;
}
.modal-body li a {
    cursor: pointer;
}
.tab-body {
    padding: 20px;
}
.feature-list-container {
    height: 100%;
}
.feature-list-container .feature-list-panel {
    height: 100%;
}
.feature-list-container .panel-body {
    padding: 0;
}
.feature-list-container .feature-list {
    list-style-type: none;
}
html, body {
    height: 100%;
}
.err {
    background-color: red !important;
}
